*.mp4
*.mkv
/software/Found/
*.aux
*.fls
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc
documentatie/Presentaties/95presentatie.pptx
documentatie/inleverset/presentaties/Demo-Video-Freesbank-Olaf-Goudriaan-1071349.mp4
documentatie/inleverset/opleverset/vlog-Freesbank-Olaf-Goudriaan-1071349.mp4